/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 992px) {
    html {
        font-size: 20px;
        line-height: 1.75;
    }
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}